In [560]:
import numpy as np
import pandas as pd

-------------------------------------------------------------------------------------------------------------------
### Task 1. Index resolve problem

In [561]:
df = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['I', 'II', 'III'])
df.loc[0,"I"] = 1
df.loc[1,"I"] = 2
df.loc[2,"I"] = 3
df.loc[3,"I"] = 4
df.loc[0,"II"] = 5
df.loc[1,"II"] = 6
df.loc[2,"III"] = 7
df.loc[3,"III"] = 6

In [562]:
df = df.rename(index={0:1, 1:2, 2:3, 3:4})
df = df.rename(columns={'I':"A", 'II':"B", 'III':"C"})
df = df.fillna(55)
df

     A     B     C
1  1.0   5.0  55.0
2  2.0   6.0  55.0
3  3.0  55.0   7.0
4  4.0  55.0   6.0

----------------------------------------------------------------------------------------------------------------
### Task 2. Cost analisys and assortiment fruits analisys for market

In [563]:
fruit = np.array(["lemons", "lemons", "lemons", "lemons",
             	"apples", "apples", "apples", "apples",
             	"apples", "apples", "apples"],
            	dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop B", "Shop B", "Shop A"],
            	dtype=object)
 
pl = np.array(["online", "online", "offline",
             	"online", "online", "offline",
             	"offline", "online", "offline",
             	"offline", "offline"],
            	dtype=object)

df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
               	"Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
               	"P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3, 3]})
df['total'] = df['Q']*df['P']

In [564]:
subnet = df[(df['Q'] > 3) & (df['shop'] == 'Shop A')]
total2 = subnet.iloc[1]['total']
total2

40

In [565]:
fruit_total = df.groupby('fruit')['total'].sum()
fruit_total

fruit
apples    223
lemons     38
Name: total, dtype: int64

In [566]:
fruit_quantity = df.groupby('fruit')['Q'].sum()
fruit_quantity

fruit
apples    33
lemons     8
Name: Q, dtype: int64

In [567]:
lemon_average_price = df[df['fruit'] == 'lemons']['P'].mean()
# Вывод в желаемом формате
result = df[df['fruit'] == 'lemons'].groupby('fruit')['P'].mean()
print(result)
print(type(result))

fruit
lemons    4.75
Name: P, dtype: float64
<class 'pandas.core.series.Series'>

----------------------------------------------------------------------------------------------------------------
### Task 3. Cost analisys and assortiment fruits analisys for market (continuation)

In [568]:
fruit = np.array(["lemons", "lemons", "lemons", "lemons",
                 "apples", "apples", "apples", "apples",
                 "apples", "apples", "apples"],
                dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop B", "Shop B", "Shop A"],
                dtype=object)
  
pl = np.array(["online", "online", "offline",
                 "online", "online", "offline",
                 "offline", "online", "offline",
                 "offline", "offline"],
                dtype=object)



df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
                   "Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
                   "P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3,3]})
df['total'] = df['Q']*df['P']
# далее запишите ваш код

In [569]:
pivot = pd.pivot_table(df, values='total', index='shop', columns='pl', aggfunc='sum')
pivot

pl      offline  online
shop
Shop A       86      31
Shop B       75      69

In [570]:
value = pivot.iloc[1, 1]
print(value)

69

In [571]:
# q = (18; 14; 23; 36)
v = np.array((18, 14, 23, 36))
v2 = np.array((25, 14, 23, 44))
res = v + v2
res
res2 = np.add(v, v2)
res2
res3 = sum(v, v2)
res3

array([116, 105, 114, 135])

In [572]:
v3 = np.array([1, 2, 6])
v4 = np.array([3, 4, 8])
result = np.linalg.norm(v4-v3)
result

3.4641016151377544